/* Red */
$bgDefault      : #14213d;
$bgHighlight    : #d9ed92;
$colDefault     : #e5e5e5;
$colHover       : #fca311; 

.navbar{
  &__text{
    color: $colDefault;
    margin-right: 2rem;
    &:hover{
      cursor: pointer;
      color: $bgHighlight;
    }
  }
  &__btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 2rem;
  }
  &__barspace{
    flex-grow: 1
  }
}

.separator{
    margin-top: 1%;
}

.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    display: flex;
    flex-direction: row;
   

    .navbar-brand {
        color: $colDefault;
        font-size: 30px;
        display: flex;
        justify-content: center;
        &:hover, &:focus {
            color: $colHover; 
        }}
 
   }



  