<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar__barspace">
        <div class="navbar-header">
            <p class="navbar-brand" >Grupo 5</p>
            
          </div>
    </div>
    <div class="navbar__barspace">
        <div class="navbar__btn">
            <div class="navbar__text" (click)="this.showReportsClicked()">
                Mostrar Reportes
            </div>
            <div class="navbar__text " (click)="this.showAttendanceClicked()">
                Mostrar Asistencia
            </div>
        </div>
    </div>
</nav>

<app-reports *ngIf ="showReports"></app-reports>
<app-attendance *ngIf ="!showReports"></app-attendance>

