<ng-template #content let-modal>
  <div class="modal-header  defaultColor">
    <h4  id="modal-basic-title" class="modal-title ">Reporte Individual</h4>
    <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form >
            
      <div class="mb-3">
        <label for="carnetInput" class="form-label">Carnet</label>
        <input type="text" class="form-control" id="carnetInput" [value]="selectedObj.carnet"  disabled>
      </div>
      <div class="mb-3">
          <label for="nombreInput" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombreInput" [value]="selectedObj.nombre" disabled>
        </div>
        <div class="mb-3">
          <label for="cursoInput" class="form-label">Curso/Proyecto</label>
          <input type="text" class="form-control" id="cursoInput" [value]="selectedObj.proyecto" disabled>
        </div>
        <div class="mb-3">
          <label for="cuerpoInput" class="form-label">Cuerpo del reporte</label>
          <textarea class="form-control" id="cuerpoInput" rows="3"[value]="selectedObj.fecha"  disabled></textarea>
        </div>
        <div class="mb-3">
          <label for="servidorInput" class="form-label">Servidor</label>
          <input class="form-control" id="servidorInput" rows="3"[value]="selectedObj.servidor"  disabled>
        </div>
     
      
    </form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>



<div class="table-responsive separator">
    <table class="table table-hover">
        <thead>
          <tr>
            <th *ngFor="let item of tableHeader; index as i;" scope="col">{{item}}</th>
           
          </tr>
        </thead>
        <tbody>
          <tr class="hov" *ngFor="let item of tableContent; index as i;" (click)="open(content,item)">
            <th scope="row">{{i+1}}</th>
            <td>{{item.carnet}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.proyecto}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.servidor}}</td>
          </tr>
          
        </tbody>
      </table>
  </div>


  

  