<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>



<div class="table-responsive separator">
    <table class="table table-hover">
        <thead>
          <tr>
            <th *ngFor="let item of tableHeader; index as i;" scope="col">{{item}}</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableContent; index as i;" (click)="open(content,item)">
            <th scope="row">{{i+1}}</th>
            <td>{{item.carnet}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.proyecto}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.servidor}}</td>
          </tr>
          
        </tbody>
      </table>
      <div *ngIf="condition" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Reporte Individual</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="hide()"></button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
  </div>


  

  