$bgDefault      : #14213d;
$bgHighlight    : #d9ed92;
$colDefault     : #e5e5e5;
$colHover       : #fca311; 


.solitud{
    font-weight: bold;
    font-size: 20px;
}
.card{
    .card-body{
        .center{
         text-align: center;
        }
    }
}
.btn{
    border-color: $colHover;
    background: $colHover;
    &:hover{
        border-color: $bgHighlight;
        background: $bgHighlight;
        color: $bgDefault; 
    }
}