$bgDefault      : #14213d;
$bgHighlight    : #d9ed92;
$colDefault     : #e5e5e5;
$colHover       : #fca311; 


.cad{
    &__container{
        display: flex;
    }

    &__content{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        justify-items: center;
        text-align: center;
        flex-direction: column;
        padding: 0.2rem;
    }

    &__sep{
        margin-top: 1rem;
    }
}

.solitud{
    font-weight: bold;
    font-size: 20px;
}
.card{
    .card-body{
        .center{
         text-align: center;
        }
    }
}
.btn{
    border-color: $colHover;
    background: $colHover;
    &:hover{
        border-color: $bgHighlight;
        background: $bgHighlight;
        color: $bgDefault; 
    }
}