<div class="card ">
    <div class="card-body">
        <div class="center">
      <h5 class="card-title">Listado Asistencias</h5>
    </div>
      <p></p>
      <form>
        <div class="form-group row">
          <div class="cad__container">
            <div class="cad__content "> 
              <label for="inputFiltrado" class="col-form-label cad__sep">Filtrar por evento id</label>
              <div >
                <input type="text" class="form-control cad__sep" id="inputFiltrado" placeholder="Filtrado" name="filtro" [(ngModel)]="filtro">
              </div>
              <button type="button" class="btn btn-primary cad__sep" (click)="fetchReps()">Listar</button>
            </div>
            <div class="cad__content"> 
              <label for="inputFiltrado" class="col-form-label cad__sep">Filtrar por alumno carnet</label>
              <div >
                <input type="text" class="form-control cad__sep" id="inputFiltrado" placeholder="Filtrado" name="filtro" [(ngModel)]="filtro">
              </div>
              <button type="button" class="btn btn-primary cad__sep" (click)="fetchReps()">Listar</button>
            </div>
          </div>
            
          



          <app-tablecon-attendance [tableContent] = "tableContent" [aten]="solicitudAten" ></app-tablecon-attendance>
        </div>
      </form>
      <p class="solitud"> 
        Solicitud atendida por: {{solicitudAten}}
      </p>
    </div>
</div>