$bgDefault      : #14213d;
$bgHighlight    : #d9ed92;
$colDefault     : #e5e5e5;
$colHover       : #fca311; 

.formc{
    width: auto;
    max-width: 600px;
    min-width: 300px;
}
.encaform{
    font-size: large;
    text-align: center;
    background: $bgDefault;
    color: #e5e5e5;
    font-weight: bold;
}
.centformi{
    align-items: center;
    text-align: center;
}

.btn{
    border-color: $colHover;
    background: $colHover;
    &:hover{
        border-color: $bgHighlight;
        background: $bgHighlight;
        color: $bgDefault; 
    }
}