<div class="card formc">
    <div class="card-header encaform">
            Crear Reporte
    </div>
    <div class="card-body">
        <form >
            
            <div class="mb-3">
              <label for="carnetInput" class="form-label">Carnet</label>
              <input type="text" class="form-control" id="carnetInput" >
            </div>
            <div class="mb-3">
                <label for="nombreInput" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombreInput" >
              </div>
              <div class="mb-3">
                <label for="cursoInput" class="form-label">Proyecto</label>
                <input type="text" class="form-control" id="cursoInput" >
              </div>
              <div class="mb-3">
                <label for="cuerpoInput" class="form-label">Cuerpo del reporte</label>
                <textarea class="form-control" id="cuerpoInput" rows="3"></textarea>
              </div>
           
            <div class="centformi">
                <button type="button" class="btn btn-primary">Crear</button>
            </div>
            
          </form>
    </div>
</div>