<ng-template #content let-modal >
    <div class="modal-header  defaultColor ">
      <h4  id="modal-basic-title" class="modal-title ">Asistencia Individual</h4>
      <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     

      
      <form >
        <div class="mod__container">
        <div class="mb-3 sep">
          <label for="carnetInput" class="form-label">Carnet</label>
          <input type="text" class="form-control" id="carnetInput" [value]="selectedObj.carnet"  disabled>
        </div>
        <div class="mb-3 sep">
          <label for="fechaInput" class="form-label">Id Evento</label>
          <input class="form-control" id="idEventoInput" rows="3"[value]="selectedObj.idEvento"  disabled>
        </div>
        
       </div>
       <div class="mod__container">
          <div class="mb-3 sep">
            <label for="cursoInput" class="form-label">Nombre Evento</label>
            <input type="text" class="form-control" id="nombreEventoInput" [value]="selectedObj.nombreEvento" disabled>
          </div>
        </div>
        <div class="mb-3 ">
          <label for="nombreInput" class="form-label">Nombre Estudiante</label>
          <input type="text" class="form-control" id="nombreEstudiantInput" [value]="selectedObj.nombreEstudiante" disabled>
        </div>
          <div class="mb-3">
            <label for="servidorInput" class="form-label">Imagen</label>
          </div>
          <div class="cnt">
            <img class="mimg"
            src="https://upload.wikimedia.org/wikipedia/commons/1/16/HDRI_Sample_Scene_Balls_%28JPEG-HDR%29.jpg" alt="">
          </div>

       
         <p>Solicitud atendida por: {{aten}}</p>
      </form>

    </div>
    <div class="modal-footer">
    </div>
  </ng-template>
  
  
  
  <div class="table-responsive separator">
      <table class="table table-hover">
          <thead>
            <tr>
              <th *ngFor="let item of tableHeader; index as i;" scope="col">{{item}}</th>
             
            </tr>
          </thead>
          <tbody>
            <tr class="hov" *ngFor="let item of tableContent; index as i;" (click)="open(content,item)">
              <th scope="row">{{i+1}}</th>
              <td>{{item.carnet}}</td>
              <td>{{item.nombreEstudiante}}</td>
              <td>{{item.nombreEvento}}</td>
              <td>{{item.idEvento}}</td>
              <td>{{item.imagen}}</td>
            </tr>
            
          </tbody>
        </table>
    </div>